body{
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
	font-family: Arial , sans-serif;	
}


#banner{
	position: static;
	top: 0px;

	height: 60px;
	width: 100%; 

	color: white;
	background-color: #455387;
	
	padding-left: 30px;

	line-height: 60px;
	font-size: 20px;
}


table{
	text-align: center;
}

tr:nth-child(even) {
    /*background-color: #c3c3c3;*/
    background-color: #ffffff;
}


th{
    margin: 10px;
    padding: 10px;
    background-color: #48d3fdd9;
    
}

table tbody tr td a{
	text-decoration: none;
}

.center{
	margin: auto;
	width: 90%;
}

.container{
	padding: 5px;
}

.tabs{
	padding: 3px;
}

.tabs div{
	background: #92e0ec;
	
	display: inline;
	width: 90px;
	height: 70px;
	margin:2px;
	margin-right: 1px;
	margin-left: 1px; 
	padding: 10px;
}

.tabs-content{
	margin-top: 6px;
}

.tabs-content div{

	min-height: 400px;
	padding: 10px;
	background-color: grey;

}