body{
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
	font-family: Arial , sans-serif;	
}


#banner{
	position: static;
	top: 0px;

	height: 60px;
	width: 100%; 

	color: white;
	background-color: #455387;
	


	line-height: 60px;
	font-size: 20px;
}

#banner b{
	padding-left: 30px;
}


div#exam_details_table{
	margin: auto;
	width: 680px;
}

.item-container{
	border: solid 2px #9de4f9;
	margin: 15px;
	padding: 10px;
	/*line-height:35px;*/
	font-size: 20px;
	/*color: #ffff;*/
}

.item-container div#container menu{
	padding: 0px;
}

.item-container div#container menu button{
	display: block;
	width: 100%;
	font-size: 18px;
	margin-top: 2px;
}

.hidden{
	display: none;
}

#choices_container div {
	margin-bottom: 2px;
}

.wrong{
	padding:5px;
	background: #f50404;
}

.correct{
	padding:5px;
	background: #17e227;
}

#info-message{
	text-align: center;
	margin: auto;
    width: 50%;
    color: #f92626;
}


form#add-exam{
	margin: auto;
	width: 80%;
	margin-top: 5px;
	padding: 5px;
	border: solid 3px #75d6f3;
	border-radius: 5px;
}

form#add-exam input{
	width: 98.8%;
	padding: 5px;
	margin-top: 5px;

	/*font-size: 20px;*/
	line-height: 20px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;
}
form#add-exam select{
	width: 98.8%;
	padding: 5px;
	margin-top: 5px;
	/*font-size: 20px;*/
	line-height: 20px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;

}
form#add-exam textarea{
	width: 98.8%;
	height: 50px;
	padding: 5px;
	margin-top: 5px;
	/*font-size: 20px;*/
	line-height: 20px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;

}form#add-exam button{
	width: 100%;
	height: 50px;
	padding: 5px;
	margin-top: 5px;
	/*font-size: 20px;*/
	line-height: 20px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;

}

dialog{
	position: fixed;
	overflow: scroll;
	padding: 10px;
	float: left;
	width: 50%;
	height: auto;	
	top: 20px;

	background-color: #f1f1f1;
}


dialog form{
	margin: 0px;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
}


dialog form input{
	width: 98.8%;
	padding: 5px;
	margin-top: 5px;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;
}

dialog form select{
	width: 98.8%;
	padding: 5px;
	margin-top: 5px;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;

}

dialog form textarea{
	width: 98.8%;
	height: 30px;
	padding: 5px;
	margin-top: 5px;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;
}

dialog form menu{
	padding: 0px;
}

dialog form button{
	width: 98.8%;
	height: 50px;
	padding: 0px;
	margin-top: 5px;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px; 
	border-style: hidden;
	border-radius : 2px;

}

@media(max-width: 500px){

	*{
		font-size: 20px;
	}

	body{
		margin: 0px;
		padding:0px;
	}

	div#banner{
		display: none;

	}


	#exam_details_table > *{
		width: 400px;
		/*margin: auto*/
		padding: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}

	dialog{
		width: 400px;
		font-size: 20px;
		margin: 2px;
		padding: 2px;
	}

	dialog{
		width: 400px;
		font-size: 20px;
		margin: 2px;
		padding: 2px;
	}
}