
body{
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    font-family: Arial , sans-serif;    
}


#banner{
    position: static;
    top: 0px;

    height: 60px;
    width: 100%; 

    color: white;
    background-color: #455387;
    


    line-height: 60px;
    font-size: 20px;
}

#banner b{
    padding-left: 30px;
}

#info-message{
    text-align: center;
    margin: auto;
    width: 50%;
    color: #f92626;
}


div#result_table{
    margin: auto;
    width: 90%;
    overflow: scroll;
}

table{
    text-align: center;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #c3c3c3;
}


th{
    margin: 10px;
    width: 250px;  
    height: 55px ;
    white-space:nowrap;
    padding: 10px;
    background-color: #48d3fdd9;
}
td{
    width: 200px;
}


tbody tr td.no_score{
    background: aqua;
}

tbody tr td.mistake{
    background: pink;
}



dialog{
    position: fixed;
    padding: 10px;
    float: left;
    width: 50%;
    height: auto;   
    top: 50px;

    background-color: #f1f1f1;
}


dialog form{
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}


dialog form input{
    width: 98.8%;
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px; 
    border-style: hidden;
    border-radius : 2px;
}

dialog form button{
    width: 98.8%;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px; 
    border-style: hidden;
    border-radius : 2px;

}
